* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

#container_vehvender {
  width: 100%;
  height: 100%;
  background: url(images/background.png);
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.key_veh {
  width: 2.291666666666667vw;
  margin-bottom: 1vw;
}

.content_top_veh {
  width: 22.447916666666668vw;
  height: 20.416666666666668vw;

  /* background: url(images/bg_content.png); */
  background-size: 100% 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  box-shadow: inset 0 0 0 0.971px rgb(30, 144, 243, 0.38);
  background: linear-gradient(
      180deg,
      rgb(30, 144, 243, 0.55) 20.06%,
      rgba(0, 0, 0, 0) 100%
    ),
    rgba(0, 0, 0, 0.55);
}

.text_top_veh {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2.96875vw;

  position: relative;
}
.text_top_veh::before {
  content: "";
  width: 20%;
  height: 0.1vw;
  background: linear-gradient(to right, rgb(30, 144, 243, .5), #fff0);
  position: absolute;
  left: 0.1vw;
}

.text_top_veh::after {
  content: "";
  width: 20%;
  height: 0.1vw;
  background: linear-gradient(to left, rgb(30, 144, 243, .5), #fff0);
  position: absolute;
  right: 0.1vw;
}

.text_top_veh h1 {
  font-size: 1.0416666666666667vw !important;
}

.text_top_veh p {
  font-size: 0.5208333333333334vw;
}

input {
  width: 13.90625vw;
  height: 1.9270833333333335vw;

  background: rgba(0, 0, 0, 0.5);
  border: 0.052083333333333336vw solid rgb(30, 144, 243, .15);
  border-radius: 0.15625vw;
  outline: none;
  color: #fff;
  padding: 0.5vw;
  margin-top: 0.3125vw;
}

.cars_veh {
  width: 16.666666666666668vw;

  position: relative;
}

.result_cars_veh {
  width: 100%;
  height: 6vw;
  overflow: auto;
  background: #0008;
  position: absolute;
  top: 4.5vw;
  padding: 0.5vw;
  display: none;
}

.item_cars_veh {
  padding-top: 0.5vw;
  border-bottom: 0.025vw solid #fff;
  padding-bottom: 0.5vw;
}

.item_cars_veh:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

.outside_cars_veh {
  width: 100%;
  height: 2.1875vw;
  background: rgba(0, 0, 0, 0.5);
  border: 0.052083333333333336vw solid rgb(30, 144, 243, .15);
  border-radius: 0.15625vw;
  margin-top: 2.3958333333333335vw;
  margin-bottom: 0.5208333333333334vw;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5vw;
}

.outside_cars_veh:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

.sell_veh {
  width: 7.447916666666667vw;
  height: 1.875vw;
  box-shadow: inset 0 0 0 0.971px rgb(30, 144, 243, .38);
  background: linear-gradient(
      180deg,
      rgb(30, 144, 243) 20.06%,
      rgba(0, 0, 0, 0) 100%
    ),
    rgba(0, 0, 0, 0.55);
  border-radius: 0.15625vw;
  color: #fff;
  font-weight: 700;
  border: 0;
  margin-top: 1.3541666666666667vw;
}

.sell_veh:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

.content_bottom_veh {
  height: 16.5625vw;
  margin-top: 1.71875vw;
}
