.notify {
  border: none !important;

  --color-primary: #bd5928;
  background: radial-gradient(
      292.44% 127.19% at -7.58% 105.36%,
      rgba(189, 89, 40, 0.24) 0%,
      rgba(77, 189, 96, 0) 100%
    ),
    rgba(0, 0, 0, 0.7);
}

.notify .icon {
  border-radius: 0.25rem;
  border: 0.0625rem solid #bd5928;
  background: linear-gradient(270deg, #bd5928 0%, rgba(189, 89, 40, 0.7) 100%);
  box-shadow: 0px 0px 13.5px 0px rgba(189, 89, 40, 0.35);
}

.notify.admin {
  --color-primary: #f6232f;
  background: linear-gradient(
      309deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(246, 0, 30, 0.2) 84.53%
    ),
    rgba(0, 0, 0, 0.66);
}

.notifyTag.admin {
  background: #f6232f;
}

.notify.admin .icon {
  border-radius: 0.25rem;
  border: 1px solid #f6232f;
  background: linear-gradient(270deg, #f6232f 0%, rgb(246, 35, 47, 0.7) 100%);
  box-shadow: 0px 0px 13.5px 0px rgb(246, 35, 47, 0.35);
}

.notify.success {
  --color-primary: #02c82d;
  background: radial-gradient(
      292.44% 127.19% at -7.58% 105.36%,
      rgba(77, 189, 96, 0.24) 0%,
      rgba(77, 189, 96, 0) 100%
    ),
    rgba(0, 0, 0, 0.7);
}

.notifyTag.success {
  background: #02c82d;
}

.notify.success .icon {
  border-radius: 0.25rem;
  border: 1px solid #4dbd60;
  background: linear-gradient(270deg, #4dbd60 0%, rgba(77, 189, 96, 0.8) 100%);
  box-shadow: 0px 0px 13.5px 0px rgba(77, 189, 96, 0.35);
}

.notify.refused {
  --color-primary: #d3132f;

  border-radius: 0.4375rem;
  background: linear-gradient(
      235deg,
      rgba(211, 19, 47, 0.16) 43.18%,
      rgba(211, 19, 47, 0) 108.06%
    ),
    linear-gradient(
      90deg,
      rgba(17, 17, 17, 0.6) 0%,
      rgba(11, 11, 11, 0.56) 100%
    );
}

.notifyTag.refused {
  background: #d3132f;
}

.notify.refused .icon {
  border-radius: 0.25rem;
  border: 0.0625rem solid #d3132f;
  background: linear-gradient(270deg, #d3132f 0%, #b10d25 100%);
  box-shadow: 0px 0px 13.5px 0px rgba(179, 15, 35, 0.35);
}

.notify.refused .title::before {
  content: '';
  position: absolute;

  top: 50%;
  left: 6px;

  width: 17px;
  height: 17px;

  transform: translateY(-50%);

  background: url(./icons/refused.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.notify.important {
  --color-primary: #FFA408;

  border-radius: 0.4375rem;
  background: linear-gradient(
      235deg,
      #ffa40807 43.18%,
      rgba(44, 100, 189, 0) 108.06%
    ),
    linear-gradient(
      90deg,
      rgba(17, 17, 17, 0.6) 0%,
      rgba(11, 11, 11, 0.56) 100%
    );
}

.notifyTag.important {
  background: #FFA408 !important;
}

.notify.important .icon {
  border-radius: 0.25rem;
  border: 1px solid #FFA408;
  background: linear-gradient(270deg, #FFA408 0%, #ffa40882 100%);
  box-shadow: 0px 0px 13.5px 0px rgba(255, 164, 8, 0.448)
}

.notify.important .title::before {
  content: '';
  position: absolute;

  top: 50%;
  left: 6px;

  width: 17px;
  height: 17px;

  transform: translateY(-50%);

  background: url(./icons/bell.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.announce.police {
  --color-primary: #2c64bd;

  background: linear-gradient(
      263deg,
      rgba(44, 100, 189, 0) 30%,
      rgba(44, 100, 189, 0.4) 100%
    ),
    rgba(0, 0, 0, 0.4);
}

.notifyTag.police {
  background: #2c64bd !important;
}

.announce.hospital {
  --color-primary: #ffffff;

  background: linear-gradient(
      263deg,
      rgba(198, 198, 198, 0) 0%,
      rgba(255, 0, 0, 0.4) 100%
    ),
    rgba(0, 0, 0, 0.22);
}

.notifyTag.hospital {
  background: #ffffff;
}

.announce.mechanic {
  --color-primary: #ff4c00;

  background: linear-gradient(
      263deg,
      rgba(198, 198, 198, 0) 30%,
      rgba(255, 76, 0, 0.4) 100%
    ),
    rgba(0, 0, 0, 0.4);
}

.notifyTag.recruitment {
  background: #B80100 !important;
}

.notifyTag.mechanic {
  background: #B5B5B5 !important;
}

.notifyTag.event {
  background-color: #CA2C75 !important;
}

.notifyTag.medic {
  background-color: #D3132F !important;
}

.notifyTag.fireman {
  background-color: #B80100 !important;
}

.notifyTag.party {
  background-color: #C76DC4 !important;
}

.notifyTag.admin {
  background-color: #B80100 !important;
}

.notifyTag.kids {
  background-color: #C76DC4 !important;
}

.notifyTag.attorney {
  background-color: #D6873F !important;
}
.announce.kids {
  --color-primary: #c6c6c6;

  background: linear-gradient(
      263deg,
      rgba(255, 243, 201, 0.13) 0%,
      rgba(241, 203, 66, 0.4) 100%
    ),
    rgba(0, 0, 0, 0.22);
}

.announce.party {
  --color-primary: #c6c6c6;

  animation: rainbow-bg 3s linear;
  animation-iteration-count: infinite;
}

.notifyTag.party {
  background: #c6c6c6;
}

.announce.fireman {
  --color-primary: #d3132f;
  border-radius: 0.4375rem;
  background: linear-gradient(
      235deg,
      rgba(211, 19, 47, 0.16) 43.18%,
      rgba(211, 19, 47, 0) 108.06%
    ),
    linear-gradient(
      90deg,
      rgba(17, 17, 17, 0.7) 0%,
      rgba(11, 11, 11, 0.66) 100%
    );
}

.notifyTag.fireman {
  background: #d3132f;
}

.announce.vip {
  --color-primary: #d69718;
  border-radius: 0.4375rem;
  background: linear-gradient(
      235deg,
      rgba(214, 151, 24, 0.16) 43.18%,
      rgba(214, 151, 24, 0) 108.06%
    ),
    linear-gradient(
      90deg,
      rgba(17, 17, 17, 0.7) 0%,
      rgba(11, 11, 11, 0.66) 100%
    );
}

.announce.recruitment {
  --color-primary: #d3132f;
  border-radius: 0.3125rem;
  box-shadow: inset 0 0 0 .05rem rgba(0, 0, 0, 0);
  background: linear-gradient(
      167deg,
      rgba(0, 0, 0, 0) -7.5%,
      rgba(211, 19, 47, 0.28) 87.87%
    ),
    rgba(15, 15, 15, 0.7);
}

.announce.juridico {
  --color-primary: #d69718;
  border-radius: 0.4375rem;
  background: linear-gradient(
      235deg,
      rgba(43, 42, 42, 0.774) 43.18%,
      rgba(58, 58, 58, 0) 108.06%
    ),
    linear-gradient(
      90deg,
      rgba(17, 17, 17, 0.7) 0%,
      rgba(11, 11, 11, 0.66) 100%
    );
}

.notifyTag.vip {
  background: #d69718;
}

.gradient {
  border-radius: 0.0625rem !important; 
  border: 1px solid #b80100 !important;
  background: linear-gradient(135deg, #b80100 0%, #850100 100%) !important ;
}



@keyframes rainbow-bg {
  100%,
  0% {
    background-color: rgba(255, 0, 0, 0.4);
  }
  8% {
    background-color: rgba(255, 127, 0, 0.4);
  }
  16% {
    background-color: rgba(255, 255, 0, 0.4);
  }
  25% {
    background-color: rgba(127, 255, 0, 0.4);
  }
  33% {
    background-color: rgba(0, 255, 0, 0.4);
  }
  41% {
    background-color: rgba(0, 255, 127, 0.4);
  }
  50% {
    background-color: rgba(0, 255, 255, 0.4);
  }
  58% {
    background-color: rgba(0, 127, 255, 0.4);
  }
  66% {
    background-color: rgba(0, 0, 255, 0.4);
  }
  75% {
    background-color: rgba(127, 0, 255, 0.4);
  }
  83% {
    background-color: rgba(255, 0, 255, 0.4);
  }
  91% {
    background-color: rgba(255, 0, 127, 0.4);
  }
}

.logo {
  height: 6rem;
}
