:root {
  --legendary-400: #B4840A;
  --legendary-500: #FFBD13;

  --commom-400: #1756A0;
  --commom-500: #177AEE;

  --epic-400: #7517EE;
  --epic-500: #5A14B4;

  --primary-400: #7517EE;
  --primary-500: #5A14B4;
}